* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}



body {
    font-family: "Jost", sans-serif;
}


summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - 610px);
    padding-right: calc(50% - 610px);
}

.header {
    background-color: #141024;

    &__head {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
    }
}

.logo{
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #FFFFFF;
}

#burger {
    position: absolute;
    left: -9999999px;
    visibility: hidden;
}

.burger-label {
    visibility: hidden;
    position: absolute;
}

.phone-image {
    position: absolute;
    visibility: hidden;
}

.menu {
    width: 324px;
    display: flex;
    gap: 40px;
    &__link {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
    }
}



.phone-number {
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    text-align: right;
    color: #FFFFFF;
}


.top {
    margin-top: 84px;
    display: flex;
    justify-content: center;

    &__left {
        padding-top: 174px;
        padding-left: 120px;
        width: 516px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        &__title {
            width: 516px;
            font-size: 70px;
            font-weight: 600;
            line-height: 112px;
            text-align: left;
            color: #FFFFFF;
        }

        &__text {
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            color: #FFFFFF;
        }

        &__button {
            width: 260px;
            height: 79px;
            border-radius: 5px;
            background: #D52027;
            border: none;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
        }

        &__button:hover {
            background: #b11318;
        }
    }

    &__right {
        max-width: 783px;
        max-height: 918px;
    }

    &__img{
        max-width: 783px;
        max-height: 918px;
    }
}

@media (max-width: 1024px) {
    html {
        overflow: hidden;
    }

    .center {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
    }

    .logo {
        font-size: 18px;
    }

    .header__head {
        position: relative;
    }

    .phone-number {
        visibility: hidden;
    }

    .burger-image {
        width: 44px;
        height: 44px;
    }


    .phone-image {
        visibility: visible;
        position: absolute;
        top: 34px;
        right: 30px;
        width: 44px;
        height: 44px;
    }


    .image-menu {
        width: 44px;
        height: 44px;
    }

    .top__img {
        width: 273px;
        height: 320px;
    }

    .header__head {
        position: relative;
    }

    .top {
        margin-top: 47px;
    }

    .top__left__title {
        font-size: 30px;
        font-weight: 600;
        text-align: left;
    }

    .top__left__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        text-align: left;
    }

    .top__left {
        padding-top: 0px;
        padding-left: 0px;
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .burger-label{
        width: 44px;
        height: 44px;
        position: absolute;
        top: 34px;
        right: -36px;
        visibility: visible;
    }

    #burger {
        position: absolute;
        left: -9999999px;
        visibility: hidden;
        &:checked ~ .menu {
            right: -130px;
        } 
    }

    .menu {
        background: #141024;
        width: 200px;
        //height: 617;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        top: 136px;
        right: -330px;
        position: absolute;
        padding: 32px;
        box-sizing: border-box;
        transition: right .3s;
        z-index: 1;
    }


}




